@import '~bootstrap/scss/bootstrap';

.navbar-nav .nav-link.active {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

.table_lotto {
    th,
    td {
        text-align: center;
        height: 40px;
    }
}